@import "~style/common.scss";

.TodoItemWrapper {
  background: $oc-gray-1;
  height: 3rem;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: 400;

  & + & {
    border-top: 1px solid $oc-gray-4;
  }

  .Icons {
    display: flex;
    align-items: center;
    margin-left: auto;

    .Icon {
      flex: 1;
      cursor: pointer;

      &:hover {
        transform: scale(1.25);
      }
      &:active {
        transform: scale(1);
      }
    }

    .Icon + .Icon {
      margin-left: 1.5rem;
    }
  }

  input {
    outline: none;
  }
}
